{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'CSS/sign.css' %}">
</head>
<body>

<div class="signup-container">
    <h2>Create Account</h2>

    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <small class="error">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}

        <button type="submit" class="btn">Sign Up</button>
    </form>

    <p class="switch-link">
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

</body>
</html>
